.body__app {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 100px;
}

@media (max-width: 750px) {
  .body__app {
    padding: 50px;
  }
}

@media (max-width: 500px) {
  .body__app {
    padding: 20px;
  }
}